importFrom("stats", "chisq.test", "cov", "kmeans", "model.matrix", "model.response", "predict")
importFrom("utils", "combn")
export(orclus)
S3method(orclus, default)
S3method(predict, orclus)
S3method(print, orclus)
export(orclass)
S3method(orclass, default)
S3method(predict, orclass)
S3method(print, orclass)
